* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

section{
    height: 100vh;
    width:100vw;
}
section:nth-child(even){
    background-color: #f0667e;
}

section:nth-child(odd){
    background-color: #ffc8b8;
}

#affichage {
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 75vw;
    height: 45vh;
    background-color: rgb(10, 10, 10);
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    color: white;
}

#affichage > div p {
    text-align: left;
}

#affichage > p {
    margin: 4% 0 3%;
}

#lesReponses div {
    margin-bottom: 1.5%;
    color: #f0667e;
}

#lesReponses button {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

#soumettre {
    background-color: lightgray;
    position: absolute;
    bottom: 5%;
    right: 50%;
    transform: translateX(50%);
    width: 50%;
    padding: 0.5rem 0;
}

#soumettre:hover {
    background-color: coral;
}

select, input, textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}
input[type="radio"] { -webkit-appearance: radio !important; }
input[type="radio"] {
    height:16px !important;
    -moz-appearance: radio !important;
    }
